<button type="button" class="btn btn-primary btn-floating btn-sm" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>


<footer class="mt-5 px-1 text-white" style="background-color: #343a40">
    <section class="pt-2">
        <div class="container mt-5">
            <div class="row mt-2">
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-1 d-none d-sm-block ">
                    <h6 class="text-uppercase fw-bold">Links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto footer-hr"/>

                    <ul class="list-unstyled">
                        <li><a href="{{ '/academics/' | relative_url }}" class="text-white">Academic</a></li>
                        <li><a href="{{ '/research/' | relative_url }}" class="text-white">Research</a></li>
                        <li><a href="{{ '/facilities/' | relative_url }}" class="text-white">Facilities</a></li>
                        <li><a href="https://people.ce.pdn.ac.lk" class="text-white">People</a></li>
                        <li><a href="https://projects.ce.pdn.ac.lk" class="text-white">Projects</a></li>
                        <li><a href="{{ '/news/' | relative_url }}" class="text-white">News</a></li>
                        <li><a href="{{ '/events/' | relative_url }}" class="text-white">Events</a></li>
                        <li><a href="https://faq.ce.pdn.ac.lk" class="text-white">FAQ</a></li>
                    </ul>
                </div>

                <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-1">
                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto footer-hr"/>

                    <ul class="list-unstyled">
                        <li><a href="https://aces.ce.pdn.ac.lk/" class="text-white" target="_blank">Association of Computer Engineering Students (ACES)</a></li>
                        <li><a href="https://www.youtube.com/channel/UCK3iLe5Mt5eEHTlviEfZVkg?view_as=subscriber" class="text-white" target="_blank">Department YouTube Channel</a></li>
                        <li><a href="https://github.com/cepdnaclk/" class="text-white" target="_blank">Department GitHub Organization</a></li>
                        <li><a href="https://ce-pdn-ac-lk.com/coursemgmnt/login.php" class="text-white" target="_blank">Course Management System</a></li>
                        <li><a href="https://feels.pdn.ac.lk/" class="text-white" target="_blank">Faculty of Engineering eLearning System (FEeLS)</a></li>
                        <li><a href="http://eng.pdn.ac.lk/" class="text-white" target="_blank">Faculty of Engineering</a></li>
                        <li><a href="https://www.pdn.ac.lk/" class="text-white" target="_blank">University of Peradeniya</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4 order-2">
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto footer-hr"/>
                    <p class="text-nowrap">
                        <i class="fas fa-home me-2"></i>Department of Computer Engineering,<br>
                        <span class="ms-4">Faculty of Engineering,</span><br>
                        <span class="ms-4">University of Peradeniya,</span><br>
                        <span class="ms-4">Peradeniya, 20400</span><br>
                        <span class="ms-4">Sri Lanka</span>
                    </p>
                    <p><i class="fas fa-envelope me-2"></i>headce@eng.pdn.ac.lk</p>
                    <p><i class="fas fa-phone me-2"></i>+94 81 2393470</p>
                    <p><i class="fas fa-print me-2"></i>+94 81 2393914</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-3" style0="background-color: #212529" >
        Copyright &copy; {{ site.time | date: '%Y'  }}
        <a class="text-white btn-link" href="{{ site.url }}{{ site.baseurl }}">Department of Comuputer Engineering - University of Peradeniya</a>
    </div>

    <div class="text-center p-2 small" style="background-color: #212529">
        <a class="footer-link" target="_blank" href="https://web.ce.pdn.ac.lk/mail/">CE mail</a> |
        <a class="footer-link" target="_blank" href="https://webmail.pdn.ac.lk/">PDN mail</a> |
        <a class="footer-link" target="_blank" href="{{ '/sitemap/' | relative_url }}">Site Map</a> |
        <a class="footer-link" target="_blank" href="{{ site.data.links['Academic Calendar'] }}">Academic Calendar</a> |
        <a class="footer-link" target="_blank" href="{{ site.data.links['Timetables'] }}">Timetables</a> |
        <a class="footer-link" target="_blank" href="{{ site.data.links['Work Allocation'] }}">Work Allocations</a> |
        <a class="footer-link" target="_blank" href="{{ site.data.links['Examination Schedules'] }}">Examination Schedules</a>
    </div>

</footer>


<script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<script src="{{ '/assets/js/index.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/holder.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/bootstrap5-dropdown.js' | prepend: site.baseurl }}"></script>
