<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#">&nbsp;</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="container">
            <ul class="navbar-nav justify-content-between w-100">
                <li class="nav-item"><a class="nav-link" href="{% link pages/home.html %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Study</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Research</a></li>
                <li class="nav-item"><a class="nav-link" href="https://projects.ce.pdn.ac.lk/">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="https://people.ce.pdn.ac.lk/">People</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Latest</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Join Us</a></li>
            </ul>
        </div>
    </div>
</nav>
