/* stylelint-disable selector-list-comma-newline-after */

/*
h1, h2, h3, h4, h5, h6
font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
*/

h2 {
    padding-top: 12px;
    padding-bottom: 6px;
    margin-bottom: 18px;
}

.text-link:hover {
    color: #006f9e !important;
    text-decoration: underline !important;
}

.vh-50 {
    min-height: 50vh !important;
}

.vh-75 {
    min-height: 75vh !important;
}

.vh-100 {
    min-height: 100vh !important;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

/* Navbar ------------------------------------------------------------------- */
.navbar-dark {
    /* background-color: #343a40!important; */
    /* background-color: #4b5863 !important; */
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-dark {
    background-color: #2c3137 !important;
}

/* Custom css for breadcrumb divider color*/
.page-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

/* Scrollbar ---------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.app-link {
    text-decoration: none !important;
    color: white !important;
    padding: 0 6px;
    transition: 0.3s;
}

.app-link:hover {
    color: #0d6efd !important;
}


/* Footer ------------------------------------------------------------------- */
.footer-link {
    text-decoration: none !important;
    color: white !important;
    padding: 0 6px;
    transition: 0.3s;
}

.footer-link:hover {
    color: #0d6efd !important;
}

footer a {
    text-decoration: none !important;
    color: white !important;
    transition: 0.3s;
}

footer a:hover {
    color: #0d6efd !important;
}

footer li {
    padding-bottom: 4px;
}

.footer-hr {
    width: 60px;
    background-color: #ffffff;
    height: 2px
}

#btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: none;
}

.profile-title {
    font-size: 0.9em !important;
}

.profile-text {
    font-size: 1em !important;
}

.research-group-title {
    font-size: 1.25em !important;
    text-decoration: none !important;
}

.research-group-card {
    transition: box-shadow .3s;
}

.research-group-card:hover {
    box-shadow: 0 0 16px rgba(33, 33, 33, .5);
}

.dropdown-hover-all .dropdown-menu,
.dropdown-hover>.dropdown-menu.dropend {
    margin-left: -1px !important
}

.app-thumb-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.app-thumb-container img {
    width: auto;
    height: 100%;
    display: block;
    margin: auto;
}

.course-button {
    min-width: 12rem;
}

.btn-outline-primary {
    color: #084298;
    background-color: #cfe2ff;
}

.btn-outline-secondary {
    color: #41464b;
    background-color: #e2e3e5;
}

.btn-outline-success {
    color: #0f5132;
    background-color: #d1e7dd;
}

.btn-outline-danger {
    color: #842029;
    background-color: #f8d7da;
}

.btn-outline-warning {
    color: #664d03;
    background-color: #fff3cd;
}

.btn-outline-info {
    color: #055160;
    background-color: #cff4fc;
}