body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 50vw;
    max-width: 250px;
    height: 100%;
    background-color: #343a40;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    color: #cacaca;
}

.sidebar-list li {
    padding: 4px 6px;
}

#iframe-container {
    margin-left: 250px;
    padding: 12px;
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 20%;
    z-index: 9999;
}

#loader img {
    width: 50px;
    /* Adjust the size of the loader image */
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
}

.edit-button {
    position: fixed;
    bottom: 0;
    padding: 6px 12px;
    text-decoration: none;
    display: inline-block;
}