---
layout: blank
title: Intranet
permalink: /intranet

navbar_active: "Intranet"
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <link href="{{ '/assets/css/intranet.css' | relative_url }}" rel="stylesheet">
</head>

<body>
    <div id="sidebar">
        <div>
            <a href="{{'/' | relative_url}}" class="text-decoration-none">
                <img style="width: 100%; padding: 8px;" class="img-fluid"
                    src="{{ '/assets/images/banner.svg' | prepend: site.baseurl }}"
                    alt="Department of Computer Engineering">

                <span class="ms-3 text-muted small">&lt; Home</span>
            </a>
            <hr>
        </div>

        <div class="sidebar-list px-2">
            <ul class="list-unstyled">
                {% for item in site.data.intranet %}
                {%- assign target_url = item['url'] -%}
                {%- assign target_name = item['name'] -%}

                {%- if target_name == "hr" -%}
                <li>
                    <hr />
                </li>
                {%- elsif target_url == "#" -%}
                <li>
                    <span class="text-muted">{{ target_name }}</span>
                </li>
                {%- else -%}
                <li>
                    <a class="app-link text-nowrap" href="#" data-url="{{target_url}}">{{ target_name }}</a>
                </li>
                {%- endif -%}

                {% endfor %}
            </ul>
        </div>

        <div class="edit-button d-flex">
            <a class=" text-decoration-none small" target="_blank"
                href="{{ site.github_repository }}/blob/{{ site.github_branch }}/_data/intranet.json">
                [ Edit on GitHub ]
            </a>
        </div>
    </div>

    <div id="iframe-container">
        <iframe class="iframe" name="iframe" src="{{'/intranet/home' | relative_url }}" frameborder="0">
            Your browser does not support inline frames or is currently configured not to display inline frames.
        </iframe>
    </div>

    <div id="loader">
        <img src="{{'/assets/images/loader.gif' | relative_url }}" alt="Loading...">
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

    $(document).ready(function () {
        $(".app-link").on("click", function (event) {
            event.preventDefault();
            var target_url = $(this).data('url');

            if (target_url != "#") {
                // Open a loader 
                $('#loader').fadeIn();
                $(".iframe").attr("src", target_url);
            }
        });

        $('.iframe').on("load", function () {
            // Remove the loader at the end of the loading 
            $('#loader').fadeOut();
        });
    });
</script>

</html>