---
layout: default
title: Sitemap
permalink: /sitemap/
navbar_active: Sitemap
---

<!-- <nav aria-label="breadcrumb" class="pb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sitemap</li>
    </ol>
</nav> -->

<h2>Sitemap</h2>

{% comment %}

<h4 class="pt-2">Internal Pages</h4>
<ul>
    {% assign internal_pages = site.html_pages | sort: "title" -%}

    {% for page in internal_pages %}
    {% if page.permalink and page.permalink != "//" -%}
        <li><a href="{{ page.permalink }}">
        {% if page.title -%}
            {{ page.title }}
        {% else -%}
            {{ page.permalink }}
        {% endif -%}
        </a></li>
    {% endif -%}
    {% endfor -%}
</ul>

{% endcomment %}
