<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    {% include head.html %}

    {% if page.forward_url %}
    <meta http-equiv = "refresh" content = "0; url = {{ page.forward_url}}" />
    {% endif %}
</head>

<body>
    {% include navbar.html %}

    <main role="main" class="container pt-3 vh-75">
        <div class="bg-secondary p-3 pb-1 rounded">
            <h1 class="text-white">{{ page.title }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb page-breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ '/' | prepend: site.baseurl }}" class="link-light">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ '/research' | prepend: site.baseurl }}" class="link-light">Research</a></li>
                    <li class="breadcrumb-item text-white">{{ page.title }}</li>
                </ol>
            </nav>
        </div>

        {%- if page.page_banner -%}
        <div class="container my-3 p-0" style="height: 300px; overflow: hidden; margin: 0 auto; position:relative">
            <img style="width:100%; position: absolute;top:-100%; left:0; right: 0; bottom:-100%;margin: auto;" src="{{ page.page_banner | relative_url }}" class="img-fluid" alt="{{ page.title }}">
        </div>

        {%- endif -%}
        <div class="container pt-5">
            {% if page.forward_url %}
            <p>Redirecting...<br><br>Please click <a href="{{ page.forward_url}}">here</a> if the browser is not automatically redirected.</p>
            {% endif %}

            {{ content }}
        </div>

    </main>

    {% include footer.html %}
</body>
</html>
